In [5]:
import pandas as pd
import numpy as np

# Load the data
data_FIFO = pd.read_excel('Flow Shop Assignment_Nguyen Xuan Binh_887799.xlsx', sheet_name='FIFO priority result', engine='openpyxl', skiprows=1)
data_EDD = pd.read_excel('Flow Shop Assignment_Nguyen Xuan Binh_887799.xlsx', sheet_name='EDD priority result', engine='openpyxl', skiprows=1)

In [6]:
data_FIFO.head(10)

   Group#  Order#   1   2   3   4   DD
0      17       1  13   6  10  12   44
1      17       2  18   7   4   6   46
2      17       3  12   8  13  23   73
3      17       4  11  11  12   9   61
4      17       5   8  11   6   7   55
5      17       6   4  15   9   7   54
6      17       7  15  12   9  12   74
7      17       8  13  18  13   8  115
8      17       9   4  14   8   8   70
9      17      10  25   5  10   6  108

In [8]:
group = 17

# Filter out pandas dataframe rows where column Group# is 17
data_FIFO = data_FIFO[data_FIFO['Group#'] == group]
data_FIFO.head(10)

data_EDD = data_EDD[data_EDD['Group#'] == group]
data_EDD.head(10)

   Group#  Order#   1   2   3   4   DD
0      17       1  13   6  10  12   44
1      17       2  18   7   4   6   46
2      17       6   4  15   9   7   54
3      17       5   8  11   6   7   55
4      17       4  11  11  12   9   61
5      17       9   4  14   8   8   70
6      17       3  12   8  13  23   73
7      17       7  15  12   9  12   74
8      17      10  25   5  10   6  108
9      17       8  13  18  13   8  115

In [14]:
DD_FIFO = data_FIFO['DD'].tolist()
DD_EDD = data_EDD['DD'].tolist()

P_FIFO = data_FIFO.iloc[:, 2:6].values.tolist()
P_EDD = data_EDD.iloc[:, 2:6].values.tolist()

In [16]:
# New lines for P
with open('FIFO priority_Nguyen Xuan Binh_887799.dat', 'w') as file:
    file.write(f"""I = 10; 				// Number of jobs\nK = 4; 				// Number of process stages\nM = 10000;				// Large number M\n""")
    file.write(f"DD = {DD_FIFO};\n")
    file.write("P = [\n")
    for row in P_FIFO:
        file.write(f"    {row},\n")
    file.write("];\n")

with open('EDD priority_Nguyen Xuan Binh_887799.dat', 'w') as file:
    file.write(f"""I = 10; 				// Number of jobs\nK = 4; 				// Number of process stages\nM = 10000;				// Large number M\n""")
    file.write(f"DD = {DD_EDD};\n")
    file.write("P = [\n")
    for row in P_EDD:
        file.write(f"    {row},\n")
    file.write("];\n")

In [7]:
# No new lines for P
with open('FIFO priority_Nguyen Xuan Binh_887799.txt', 'w') as file:
    file.write(f"""I = 10; 				// Number of jobs\nK = 4; 				// Number of process stages\nM = 10000;				// Large number M\n""")
    file.write(f"DD = {DD_FIFO};\n")
    file.write(f"P = {P_FIFO};")

with open('EDD priority_Nguyen Xuan Binh_887799.txt', 'w') as file:
    file.write(f"""I = 10; 				// Number of jobs\nK = 4; 				// Number of process stages\nM = 10000;				// Large number M\n""")
    file.write(f"DD = {DD_EDD};\n")
    file.write(f"P = {P_EDD};")